@import 'normalize';

.App {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;

  .App-content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    padding: 0 15%;

    .App-content-list {
      list-style: none;
      width: 100%;
      padding: 0;
    }
  }
}
